# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/Config/__pycache__

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environment
*.egg-info/
.eggs/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# OneDrive sync files
~$*

# Ignore notebook output
*.nbconvert.ipynb

# API
Config/API.py

# Others
/Test